.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  height: 60px;
  width: 240px;
}

.navbar-mangadvice-logo {
  height: 100%;
  width: 100%;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active :hover {
  color: rgba(15, 228, 129, 1);
}

.active:hover {
  color: rgba(15, 228, 129, 1);
}

a {
  color: rgba(15, 228, 129, 1);
}
